<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1"><title>Document</title><style>html {
            height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            height: 100%;
            background-color: #eee;
        }</style><script defer="defer" src="/static/admin/js/main.js?28503850065872e686ba"></script><link href="/static/admin/css/main.css?28503850065872e686ba" rel="stylesheet"></head><body><div id="app"></div></body></html>