.create-new-button[data-v-4853e4a4] {
  margin-top: 20px;
  position: relative;
  left: 50%;
}
.el-table[data-v-4853e4a4] {
  margin-top: 20px;
}
.el-table .el-button[data-v-4853e4a4] {
  margin-left: 20px;
  padding: 0;
}
.el-table .icons-img[data-v-4853e4a4] {
  width: 10px;
  height: 10px;
}
